@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	min-width: 100%;
	object-fit: cover;
	object-position: center;
}
body {
	min-height: 100vh;
	background-image: url('https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80');
	background-size: cover;
	background-position: center;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.national-year {
	font-size: 3rem;
	font-weight: normal;
}
.countdown-container {
	display: flex;
	justify-content: center;
	align-items: center;
	& > div {
		text-align: center;
		.big-text {
			font-size: 4rem;
			font-weight: 600;
			margin: 0 1rem;
		}
	}
}
